<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="boardDto" type="com.fastcampus.ch4.domain.BoardDto"/>
        <typeAlias alias="searchOption" type="com.fastcampus.ch4.domain.SearchOption"/>
        <typeAlias alias="commentDto" type="com.fastcampus.ch4.domain.CommentDto"/>
    </typeAliases>
</configuration>